a {
    text-decoration: none;
}

.FooterStyle {
    background-color: #000;
}
.f2r {
    display: flex;
    flex-direction: column;
    align-items: end;
}
.fsi {
    display: flex;
}
.si {
    margin: 0 15px;
}

@media screen and (max-width: 900px) {
    .f1 {
        flex-direction: column;
        align-items: flex-start;
    }

    .f1l {
        width: 50vw;
        height: 30vw;
    }
    .f1r {
        flex-direction: column;
        margin-top: 20px;
        width: 100%;
    }
}